In [4]:
import sqlite3
conn = sqlite3.connect("zmones.db")
c = conn.cursor()

In [5]:
create_query = """CREATE TABLE draugai (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);"""

In [6]:
c.execute(create_query)
conn.commit()

OperationalError: table draugai already exists

In [ ]:
insert_friend_query = ''' INSERT INTO draugai 
(first_name, last_name, email)
VALUES ("Elon", "Musk", "elon@tesla.com");
'''
c.execute(insert_friend_query)
conn.commit()

In [ ]:
with conn:
    c.execute(insert_friend_query)

In [ ]:
with conn:
    c.execute("SELECT * FROM draugai")
    print(c.fetchall())

[(1, 'Elon', 'Musk', 'elon@tesla.com'), (2, 'Elon', 'Musk', 'elon@tesla.com')]

In [ ]:
with conn:
    c.execute("SELECT * FROM draugai")
    print(c.fetchone())
    print(c.fetchone())
    print(c.fetchone())

(1, 'Elon', 'Musk', 'elon@tesla.com')
(2, 'Elon', 'Musk', 'elon@tesla.com')
None

In [ ]:
with conn:
    c.execute("SELECT * FROM draugai")
    while True:
        row = c.fetchone()
        if not row:
            break
        print(row)

(2, 'Elon', 'Musk', 'elon@tesla.com')

In [ ]:
with conn:
    c.execute("DELETE FROM draugai WHERE id IN (1)")

In [7]:
nauji_draugai = [
    ("karolis", "tamulevicius", "karolis@tesla.com"),
    ("karolis2", "tamulevicius2", "karolis2@tesla.com"),
    ("karolis3", "tamulevicius3", "karolis3@tesla.com")
]
with conn:
    c.executemany("""INSERT INTO draugai
        (first_name, last_name, email) VALUES (?, ?, ?)""",
        nauji_draugai)